@font-face {
  font-family: 'SmartFontUI';
  src: url('./assets/font/SmartFontUI.woff') format('woff');
}
@font-face {
  font-family: 'Graduate';
  src: url('./assets/font/Graduate-Regular.woff') format('woff');
}
